@import url('https://fonts.googleapis.com/css?family=Karla');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: karla;
   font-size: 1rem;
   color: hsl(218, 22%, 67%);
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
.wrapper{
    width:40%;
    margin:170px 0;
    display: flex;
    flex-flow: column wrap;
    background-color:white ;
    border-radius: 1rem;
    box-shadow: rgb(147, 231, 240) 0px 5px 15px;
}
main{
    flex-basis:100%;
}
main h1{
    color:hsl(179, 62%, 43%);
     padding:0rem 1.5rem;
}
.offer
{
    color:hsl(71, 73%, 54%);
    padding:1.5rem;
}
main p{
    padding:0 2rem 1.5rem 2rem;
}
section{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    color:hsl(204, 43%, 93%);
    margin:0;
}
.payment_details{
    flex-basis: 50%;
    padding:2rem 1.5rem 2rem 2rem ;
    background-color:#2BB3B1 ;
    border-bottom-left-radius: 1rem;
}
.info{
    flex-basis: 50%;
    padding: 1.5rem;
    background-color: #4ABEBD;
    border-bottom-right-radius: 1rem;
}
#highlight{
    padding:0.5rem 1rem 1rem 0rem;
}
.sign_up{
    display: block;
    width:90%;
    height:40px;
    padding:0.5rem 0rem; 
    text-align: center;
    background-color:hsl(71, 73%, 54%);
    border-radius:0.5rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (max-width:863px) {
    .wrapper{
        width:40%; 
    }
    .payment_details{
        flex-basis: 100%;
        border-bottom-left-radius:0;
    }
    .info{
        flex-basis: 100%;
        border-bottom-left-radius:1rem;
    }
}
@media (max-width:375px) {
    .wrapper{
        width:90%; 
    }
    .payment_details{
        flex-basis: 100%;
        border-bottom-left-radius:0;
    }
    .info{
        flex-basis: 100%;
        border-bottom-left-radius:1rem;
    }
}
